<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  
  <?include defines.wxi ?>
  <?define Name='HPCC Client Tools' ?>
  <?define Description='HPCC Client Tools Installer' ?>

  <Product Id='$(var.ProductCode)' UpgradeCode='$(var.UpgradeCode)' Name='$(var.Name)' Language='1033' Version='$(var.ProductVersion)' Manufacturer='$(var.Manufacturer)'>
    <Package Id='*' Description='$(var.Description)' Manufacturer='$(var.Manufacturer)' InstallerVersion='300' Compressed='yes' InstallScope='perMachine'/>
    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND' Minimum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMinimum='yes' Maximum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMinimum='no' />
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Minimum='6.0.0' IncludeMinimum='yes' Maximum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMaximum='no' />
    </Upgrade>

    <!-- Disable Downgrade Checking
    <Upgrade Id='$(var.GraphControlUpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Property='GC_SELFFOUND' Minimum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMinimum='yes' Maximum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='GC_NEWERFOUND' Minimum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMinimum='no' />
      <UpgradeVersion OnlyDetect='no' Property='GC_PREVIOUSFOUND' Minimum='1.0.0' IncludeMinimum='yes' Maximum='!(bind.FileVersion.ECLIDE.exe_File)' IncludeMaximum='no' />
    </Upgrade>
    -->

    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already installed.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
    <CustomAction Id="SetProgramFolder" Return="check" Property="ProgramMenuDir" Value="[ProgramMenuFolder][WIX_GROUP]"></CustomAction>

    <PropertyRef Id='WIX_DIR_COMMON_DOCUMENTS' />
    <Property Id='WIX_GROUP' Value='HPCC Systems'>
      <RegistrySearch Id='RememberWIX_GROUP' Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='installed' Type='raw' />
    </Property>

    <Property Id='WIXUI_STARTINSTALLDIR' Value='WIX_GROUP' />
    <Property Id='WIXUI_INSTALLDIR' Value='PF_FOLDER' />
    <Property Id='WIXUI_ECLINSTALLDIR' Value='CD_FOLDER' />
    <UIRef Id='MyWixUI_InstallDir' />

    <!-- Directory Structure -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='PF_FOLDER' Name='HPCC Systems'/>
      </Directory>

      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='ProgramMenuDir' Name='HPCC Systems'/>
      </Directory>

      <Directory Id='WIX_DIR_COMMON_DOCUMENTS' Name='CommonDocs'>
        <Directory Id='CD_FOLDER' Name='HPCC Systems'/>
      </Directory>
    </Directory>

    <!-- Shortcuts -->

    <DirectoryRef Id='ProgramMenuDir'>
      <Component Id='ProgramMenuComponent' Guid='*'>
        <Shortcut Id='ApplicationStartMenuShortcut' Name='ECL IDE' Description='ECL Integrated Development Environment' Target='[PFHPCCECL_IDE_FOLDER]ECLIDE.exe' WorkingDirectory='PFHPCCECL_IDE_FOLDER'/>
        <?if $(var.Sku) = "EE" ?>
          <Shortcut Id='AMTStartMenuShortcut' Name='AMT' Description='Attribute Migration Tool' Target='[PFHPCCECL_IDE_FOLDER]AMT.exe' WorkingDirectory='PFHPCCECL_IDE_FOLDER'/>
        <?endif?>
        <Shortcut Id='EclReferenceStartMenuShortcut' Name='ECL Reference Help' Description='ECL Reference Help File' Target='[PFHPCCECL_IDE_FOLDER]ECLReference.chm' WorkingDirectory='PFHPCCECL_IDE_FOLDER'/>
        <Shortcut Id='EclStartMenuShortcut' Name='ECL Folder' Description='Default location for ECL files' Target='[CDECL_FOLDER]' WorkingDirectory='CDECL_FOLDER'/>
        <util:InternetShortcut Id='PortalShortcut' Name='HPCC Systems Homepage' Target='http://hpccsystems.com'/>

        <RemoveFolder Id='CleanupProgramMenuDir' On='uninstall'/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='installed' Type='string' Value='[WIX_GROUP]' KeyPath='yes'/>
      </Component>
    </DirectoryRef>

    <!--  Env  -->
    <DirectoryRef Id='PFHPCCver_3_6bin_FOLDER'>
      <Component Id='EnvBin_Component' Guid='{D9057F4F-5268-42D3-B5CA-2CBEFC1C6310}'>
        <CreateFolder />
        <Environment Id='EnvHpccBin' Action='set' Part='all' Name='HPCCBIN' Permanent='no' Value='[PFHPCCver_3_6bin_FOLDER]' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='CDECL_FOLDER'>
      <Component Id='EnvEcl_Component' Guid='{F4107839-E7A5-4952-806C-953CE175600E}'>
        <CreateFolder />
        <Environment Id='EnvHpccEcl' Action='set' Part='all' Name='HPCCECL' Permanent='no' Value='[CDECL_FOLDER]' />
      </Component>
    </DirectoryRef>

    <!--  Path  -->
    <DirectoryRef Id='PFHPCCver_3_6bin_FOLDER'>
      <Component Id='Path_Component' Guid='{6ED11144-281C-4B9E-BF51-FEF91A0C41BF}'>
        <Condition>WIXUI_UPDATEPATH = "1"</Condition>
        <CreateFolder />
        <Environment Id='UpdatePath' Action='set' Part='first' Name='PATH' Permanent='no' Value='[PFHPCCver_3_6bin_FOLDER];[PFHPCCver_3_6plugins_FOLDER]' />
      </Component>
    </DirectoryRef>

    <!--  ActiveX  -->
    <DirectoryRef Id='PFHPCCGraph_Control_FOLDER'>
      <Component Id='RegisterAX_Component' Guid='{0712D3A5-E8E7-4D3B-9E0E-D061E05C972A}'>
        <File Id='npHPCCSystemsGraphViewControl' Name='npHPCCSystemsGraphViewControl.dll' DiskId='1' Source='$(var.StageFolder)\PF\HPCC\Graph Control\npHPCCSystemsGraphViewControl.dll' >
          <TypeLib Id='{ADDF58CE-A46A-42CB-BCFC-F28C4D7F950F}' Description='LexisNexisGraphViewControl 1.0 Type Library' HelpDirectory='PFHPCCGraph_Control_FOLDER' Language='0' MajorVersion='1' MinorVersion='0'>
          <AppId Description='FireBreathWin' Id='{B415CD14-B45D-4BCA-B552-B06175C38606}'>
            <Class Id='{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}' Context='InprocServer32' Description='HPCCSystems Graph View Control' ThreadingModel='apartment' Version='1' Programmable='yes' Control='yes'>
              <ProgId Id='HPCCSystems.HPCCSystemsGraphViewControl.1' Description='HPCCSystems Graph View Control'>
                <ProgId Id='HPCCSystems.HPCCSystemsGraphViewControl' Description='HPCCSystems Graph View Control' />
              </ProgId>
            </Class>
          </AppId>
          <Interface Id='{19170988-05B7-4A75-B249-3F3F18533CDF}' Name='IFBComJavascriptObject' ProxyStubClassId32='{00020424-0000-0000-C000-000000000046}' />
          <Interface Id='{457AFBF6-B5DF-41F6-8BC2-C9E8135150D2}' Name='IFBControl' ProxyStubClassId32='{00020424-0000-0000-C000-000000000046}' />
          <Interface Id='{E0C8280C-4448-45DF-A750-F1C5A8ED7C40}' Name='IFBComEventSource' ProxyStubClassId32='{00020420-0000-0000-C000-000000000046}' />
        </TypeLib>
        </File>
        <ProgId Id='MIME' />
        <RegistryValue Root='HKCR' Key='AppID\npHPCCSystemsGraphViewControl.dll' Name='AppID' Value='{B415CD14-B45D-4BCA-B552-B06175C38606}' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='CLSID\{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}\MiscStatus\1' Value='131473' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='CLSID\{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}\MiscStatus' Value='0' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='MIME\Database\Content Type\application/x-hpccsystemsgraphviewcontrol' Value='HPCCSystems Graph View Control' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='MIME\Database\Content Type\application/x-hpccsystemsgraphviewcontrol' Name='Extension' Value='' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='MIME\Database\Content Type\application/x-hpccsystemsgraphviewcontrol' Name='CLSID' Value='{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}' Value='' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}\iexplore\AllowedDomains\*' Value='' Type='string' Action='write' />
        <RegistryValue Root='HKCR' Key='Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{2FF57548-1DE4-4F32-B133-2B3FBDDBF909}\iexplore' Name='Count' Value='0' Type='integer' Action='write' />
      </Component>
      <Component Id='RegisterPlugin_Component' Guid='{7140C23A-AB09-43F6-94E4-0E5A44ACCA92}'>
        <RegistryValue Root='HKCU' Key='Software\MozillaPlugins\hpccsystems.com/HPCCSystemsGraphViewControl' Name='Path' Value='[#npHPCCSystemsGraphViewControl]' Type='string' Action='write' />
      </Component>
    </DirectoryRef>

    <!--  VC Runtimes  -->
    <?ifdef env.CommonProgramFiles(x86) ?>
    <!--Variable is defined, we are building on 64 bit-->
    <?define commonProgramFiles = 'c:\Program Files (x86)\Common Files\' ?>
    <?else?>
    <!--Variable is not defined, we are building on 32 bit-->
    <?define commonProgramFiles = 'c:\Program Files\Common Files\' ?>
    <?endif?>
    
    <?ifndef Debug ?>
    <DirectoryRef Id='TARGETDIR'>
      <Merge Id='VCRedist' SourceFile='$(var.commonProgramFiles)Merge Modules\Microsoft_VC100_CRT_x86.msm' DiskId='1' Language='0'/>
      <Merge Id='MFCRedist' SourceFile='$(var.commonProgramFiles)Merge Modules\Microsoft_VC100_MFC_x86.msm' DiskId='1' Language='0'/>
    </DirectoryRef>
    <Feature Id='VCRedist' Title='Visual C++ 10.0 Runtime' AllowAdvertise='no' Display='hidden' Level='1'>
      <MergeRef Id='VCRedist'/>
      <MergeRef Id='MFCRedist'/>
    </Feature>
    <?endif ?>

    <?ifndef Debug ?>
    <!--  Features  -->
    <FeatureRef Id='PFHPCC_Feature' />
    <FeatureRef Id='CDECL_Feature' />
    
    <Feature Id='ProductFeature' AllowAdvertise='no' Title='SetupProject' Level='1'>
      <ComponentRef Id='EnvBin_Component' />
      <ComponentRef Id='EnvEcl_Component' />
      <ComponentRef Id='Path_Component' />
      <ComponentRef Id='RegisterAX_Component' />
      <ComponentRef Id='RegisterPlugin_Component' />
      <ComponentRef Id='ProgramMenuComponent' />
      
      <ComponentGroupRef Id='Product.Generated' />
    </Feature>
    <?else ?>
    <DirectoryRef Id='CD_FOLDER'>
      <Directory Id='DEBUG_CDECL_FOLDER' Name='HPCC'>
        <Directory Id='DEBUG_CDHPCCSamples_FOLDER' Name='Samples'>
          <Component Id='DEBUG_CDHPCCSamples_Component' Guid='{1228637b-2aed-48ab-954c-bfda8216bd01}'>
            <CreateFolder/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <DirectoryRef Id='PF_FOLDER'>
      <Directory Id='DEBUG_PFHPCC_FOLDER' Name='HPCC'>
        <Directory Id='DEBUG_PFHPCCbin_FOLDER' Name='bin'>
          <Directory Id='DEBUG_PFHPCCbinver_3_0_FOLDER' Name='ver_3_0'>
            <Component Id='DEBUG_PFHPCCbinver_3_0_Component' Guid='{1228637b-2aed-48ab-954c-bfda8216bd01}'>
              <CreateFolder/>
            </Component>
          </Directory>
          <Directory Id='DEBUG_PFHPCCbinver_3_6_FOLDER' Name='ver_3_6'>
            <Component Id='DEBUG_PFHPCCbinver_3_6_Component' Guid='{1228637b-2aed-48ab-954c-bfda8216bd01}'>
              <CreateFolder/>
            </Component>
          </Directory>
        </Directory>
        <Directory Id='DEBUG_PFHPCCECL_IDE_FOLDER' Name='ECL IDE'>
          <Component Id='DEBUG_PFHPCCECL_IDE_Component' Guid='{1228637b-2aed-48ab-954c-bfda8216bd01}'>
            <CreateFolder/>
          </Component>
        </Directory>
        <Directory Id='DEBUG_PFHPCCGraph_Control_FOLDER' Name='Graph Control'>
          <Component Id='DEBUG_PFHPCCGraph_Control_Component' Guid='{1228637b-2aed-48ab-954c-bfda8216bd01}'>
            <CreateFolder/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <Feature Id='DEBUG_Feature' Title='HPCC' Level='1'>
      <ComponentRef Id='DEBUG_CDHPCCSamples_Component' />
      <ComponentRef Id='DEBUG_PFHPCCbinver_3_6_Component' />
      <ComponentRef Id='DEBUG_PFHPCCECL_IDE_Component' />
      <ComponentRef Id='DEBUG_PFHPCCGraph_Control_Component' />
      
      <ComponentGroupRef Id='Product.Generated' />
    </Feature>
   
    <?endif ?>

    <InstallUISequence>
      <Custom Action="SetProgramFolder" Before="CostFinalize" />
    </InstallUISequence>
    
    <InstallExecuteSequence>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
      <Custom Action="SetProgramFolder" Before="CostFinalize"></Custom>
      <RemoveExistingProducts Before='InstallInitialize' />
    </InstallExecuteSequence>

    <!--<Icon Id="Foobar10.exe" SourceFile="FoobarAppl10.exe" />-->
    <!--<Icon Id='ECLIDE.exe' SourceFile='eclide.exe' />-->
  
  
</Product>
</Wix>
